# Ignore everything
*
*/*

!src
!src/**
!.github
!.github/**
src/**/__tests__/**
src/config/openrouter.ts
src/utils/openrouter-provisioning.ts

!.eslintrc.json
!.prettierrc
!.gitignore
!tsconfig.json
!tsup.config.ts
!package.json
!package-lock.json
!README.md
!README-kr.md
!USAGE.md
!USAGE-kr.md
!CHANGELOG.md
!CHANGELOG-kr.md
!docs
!docs/**